<mat-toolbar color="primary">
  <mat-toolbar-row>
    Carro Ágil
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 10px">
  <div *ngIf="!givenName">
    <button mat-raised-button (click)="login()">Login</button>
  </div>

  <div *ngIf="givenName">
    <p>Olá {{givenName}}</p>
    <div *ngIf="spinnerService.visibility | async">
      <p>Carregando veículos</p>
      <mat-progress-spinner color="accent" mode="indeterminate" ></mat-progress-spinner>
    </div>
    <div *ngIf="cars && cars.length > 0">
      <p>Aqui estão os veículos disponíveis para locação:</p>
      <mat-table [dataSource]="cars" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
